---
layout: default
title: "Core team alumni"
date: 2013-07-03 18:34
comments: false
sharing: true
footer: true
---
<div id="content">
  <div class="container">
    <p>GitLab core team members who are no longer active but whose work is very much appreciated.</p>

    <div class='row-fluid'>
      <hr class='hor-line' />
    </div>
    <div class='row-fluid teams'>
      <div class='span3'>
        <div class='row-fluid padding'>
          <img src='/images/team/valeriy.png' />
        </div>
        <div class='row-fluid'>
          <ul class='team'>
            <li>
              <a href='http://ua.linkedin.com/pub/valeriy-sizov/41/284/249'><div class='linkedin no-margin'></div></a>
            </li>
            <li>
              <a href='https://github.com/vsizov'><div class='github no-margin'></div></a>
            </li>
          </ul>
        </div>
      </div>
      <div class='span9'>
        <h2 class='title'>Valeriy Sizov</h2>
        <p>Valeriy was one of the initial authors of GitLab together with Dmitriy Zaporozhets.</p>
      </div>
    </div>

    <div class='row-fluid'>
      <hr class='hor-line' />
    </div>
    <div class='row-fluid teams'>
      <div class='span3'>
        <div class='row-fluid padding'>
          <img src='https://secure.gravatar.com/avatar/fbd740180d2c3b4dbe8c3a23d4e30c83?s=420&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png' />
        </div>
        <div class='row-fluid'>
          <ul class='team'>
            <li>
              <a href='http://gravityonmars.com/'><div class="website no-margin"></div></a>
            </li>
            <li>
              <a href='http://twitter.com/gravityonmars'><div class='twitter no-margin'></div></a>
            </li>
            <li>
              <a href='https://github.com/gravityonmars'><div class='github no-margin'></div></a>
            </li>
          </ul>
        </div>
      </div>
      <div class='span9'>
        <h2 class='title'>Ricardo Rauch</h2>
      </div>
    </div>

    <div class='row-fluid'>
      <hr class='hor-line' />
    </div>
    <div class='row-fluid teams'>
      <div class='span3'>
        <div class='row-fluid padding'>
          <img src='https://secure.gravatar.com/avatar/73c8253932541a7b5cbc5d79493f2bea?s=420&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png' />
        </div>
        <div class='row-fluid'>
          <ul class='team'>
            <li>
              <a href='http://tsigo.github.io/'><div class="website no-margin"></div></a>
            </li>
            <li>
              <a href='https://twitter.com/rspeicher'><div class='twitter no-margin'></div></a>
            </li>
            <li>
              <a href='https://github.com/tsigo'><div class='github no-margin'></div></a>
            </li>
          </ul>
        </div>
      </div>
      <div class='span9'>
        <h2 class='title'>Robert Speicher</h2>
      </div>
    </div>

    <div class='row-fluid'>
      <hr class='hor-line' />
    </div>
    <div class='row-fluid teams'>
      <div class='span3'>
        <div class='row-fluid padding'>
          <img src='/images/team/yves.jpeg' />
        </div>
        <div class='row-fluid'>
          <ul class='team'>
            <li>
              <a href='http://blog.senny.ch/'><div class="website no-margin"></div></a>
            </li>
            <li>
              <a href='https://twitter.com/fistofsenn'><div class='twitter no-margin'></div></a>
            </li>
            <li>
              <a href='https://github.com/senny'><div class='github no-margin'></div></a>
            </li>
          </ul>
        </div>
      </div>
      <div class='span9'>
        <h2 class='title'>Yves Senn</h2>
      </div>
    </div>

    <div class='row-fluid'>
      <hr class='hor-line' />
    </div>
    <div class='row-fluid teams'>
      <div class='span3'>
        <div class='row-fluid padding'>
          <img src='/images/team/ariejan.jpeg' />
        </div>
        <div class='row-fluid'>
          <ul class='team'>
            <li>
              <a href='http://ariejan.net/'><div class="website no-margin"></div></a>
            </li>
            <li>
              <a href='https://twitter.com/ariejan'><div class='twitter no-margin'></div></a>
            </li>
            <li>
              <a href='http://nl.linkedin.com/in/ariejan'><div class='linkedin no-margin'></div></a>
            </li>
            <li>
              <a href='https://github.com/ariejan'><div class='github no-margin'></div></a>
            </li>
          </ul>
        </div>
      </div>
      <div class='span9'>
        <h2 class='title'>Ariejan de Vroom</h2>
      </div>
    </div>

    <div class='row-fluid'>
      <hr class='hor-line' />
    </div>
    <div class='row-fluid teams'>
      <div class='span3'>
        <div class='row-fluid padding'>
          <img src='/images/team/riyad.png' />
        </div>
        <div class='row-fluid'>
          <ul class="team">
            <li>
              <a href="http://blog.bilak.info/"><div class="website no-margin"></div></a>
            </li>
            <li>
              <a href="https://github.com/riyad"><div class="github no-margin"></div></a>
            </li>
          </ul>
        </div>
      </div>
      <div class='span9'>
        <h2 class='title'>Riyad Preukschas</h2>
      </div>
    </div>
    <div class="row">
      <hr class="hor-line">
    </div>

    <div class='row-fluid'>
      <hr class='hor-line' />
    </div>
    <div class='row-fluid teams'>
      <div class='span3'>
        <div class='row-fluid padding'>
          <img src='/images/team/saito.png' />
        </div>
        <div class='row-fluid'>
          <ul class="team">
            <li>
              <a href="http://saito.im/"><div class="website no-margin"></div></a>
            </li>
            <li>
              <a href="https://github.com/SaitoWu"><div class="github no-margin"></div></a>
            </li>
          </ul>
        </div>
      </div>
      <div class='span9'>
        <h2 class='title'>Saito Wu</h2>
      </div>
    </div>
    <div class="row">
      <hr class="hor-line">
    </div>

    <div class='row-fluid'>
      <p>GitLab core team members who are active can be found on the <a href='/core-team'>core team page</a>.</p>
    </div>
  </div>
</div>
