#landing {
  padding: 0;
  height: 677px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(/images/ci/fox.jpg);
}

#landing .main-screenshot {
    padding-top: 0;
    display: inline-block;
    margin-top: 50px;
    background: -moz-linear-gradient(top, rgba(85,68,136,0.85) 0%, rgba(85,68,136,0.85) 99%, rgba(85,68,136,0.85) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(85,68,136,0.85)), color-stop(99%,rgba(85,68,136,0.85)), color-stop(100%,rgba(85,68,136,0.85))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(85,68,136,0.85) 0%,rgba(85,68,136,0.85) 99%,rgba(85,68,136,0.85) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(85,68,136,0.85) 0%,rgba(85,68,136,0.85) 99%,rgba(85,68,136,0.85) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(85,68,136,0.85) 0%,rgba(85,68,136,0.85) 99%,rgba(85,68,136,0.85) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(85,68,136,0.85) 0%,rgba(85,68,136,0.85) 99%,rgba(85,68,136,0.85) 100%); /* W3C */
}

#landing .container {
  height: 100%;
  width: 100%;
  text-align: center;
  background: -moz-linear-gradient(to bottom, rgba(85,68,136,1.0) 0%,rgba(85,68,136,0.95) 99%,rgba(85,68,136,0.99) 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(to bottom, rgba(85,68,136,1.0) 0%,rgba(85,68,136,0.95) 99%,rgba(85,68,136,0.99) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(to bottom, rgba(85,68,136,1.0) 0%,rgba(85,68,136,0.95) 99%,rgba(85,68,136,0.99) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(to bottom, rgba(85,68,136,1.0) 0%,rgba(85,68,136,0.95) 99%,rgba(85,68,136,0.99) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(85,68,136,1.0) 0%,rgba(85,68,136,0.95) 99%,rgba(85,68,136,0.99) 100%);
}

#landing .container .row .features-panel {
  margin-top: 20px;
}

@media (max-width: 960px) {
    #landing {
        background-size: cover;
    }
}

@media (max-width: 767px) {
    #landing {
        min-height: 0;
        height: 82%;
        background-size: cover;
    }

    #landing h1 {
      padding-top: 0 !important;
      font-size: 22px !important;
    }

    #landing h3 {
      font-size: 19px !important;
    }

    .landing-ctas {
      margin-top: 0 !important;
    }

    #landing .landing-ctas a {
      font-size: 15px;
      margin: 10px 0 10px 0;
      padding: 0;
    }

    .gitlab-comparison {
      margin-top: 24px !important;
    }

    .features-panel {
      margin-top: 36px !important;
    }

    .see-further {
      margin-top: 8px !important;
    }

}

@media (max-width: 388px) {
    #landing {
        min-height: 0;
        height: 82%;
        background-size: cover;
    }

    #landing h1 {
      font-size: 18px !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

    #landing h3 {
      margin-top: 0 !important;
      font-size: 15px !important;
    }

    #landing .container .row div .text-left {
      padding: 0 0 0 0 !important;
    }

    .landing-ctas {
      margin-top: 0 !important;
    }

    #landing .landing-ctas a {
      font-size: 15px;
      margin: 0px 0 12px 0;
      padding: 0;
    }

    .gitlab-comparison {
      margin-top: 0px !important;
    }

    .features-panel {
      margin-top: 24px !important;
    }

    .read-more-tweets a {
      padding: 2px !important;
    }

    .see-further {
      margin-top: 0 !important;
    }
}

#landing h1 {
    font-size: 50px;
    color: white;
    font-family: 'Korolev-Medium', sans-serif;
    padding-top: 50px;
    padding-bottom: 12px;
}

#landing h3 {
    font-size: 36px;
    color: white;
    font-family: 'Korolev-Light', sans-serif;
}

.landing-header {
  line-height: 58px;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
}

.landing-header {
  line-height: 58px;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
}

.landing-sub {
  font-weight: 200;
}

.landing-buttons {
  margin-bottom: 70px;
}

.light-link {
  color: #F0AD4E;
}

.landing-ctas {
  margin-top: 31px;
  text-align: center;
}

.landing-ctas a {
  position: relative;
  display: inline-block;
  margin: 25px 25px;
  outline: none;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 21px;
  padding: 7px 10px 5px;
  text-shadow: none;
  font-family: "Korolev-Medium", sans-serif;
}

.landing-ctas a::before,
.landing-ctas a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: rgba(255,255,255,0.5);
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  transform: scale(0.85);
}

.landing-ctas a::after {
  opacity: 0;
  -webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: top 0.3s, opacity 0.3s, transform 0.3s;
}

.landing-ctas a:hover::before,
.landing-ctas a:hover::after,
.landing-ctas a:focus::before,
.landing-ctas a:focus::after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  background: rgba(255,255,255,1);
}

.landing-ctas a:hover::after,
.landing-ctas a:focus::after {
  top: 0%;
  opacity: 1;
}

/* ANIMATIONS */



.header-feature {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from { opacity:0; }
    to { opacity:1; }
}
@-moz-keyframes fadein { /* Firefox */
    from { opacity:0; }
    to { opacity:1; }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from { opacity:0; }
    to { opacity:1; }
}
@-o-keyframes fadein { /* Opera */
    from { opacity:0; }
    to { opacity: 1; }
}

/* END ANIMATIONS */


.header-feature {
  display: inline-block;
  width: 750px;
  height: 240px;
}

  .header-feature ul {
    list-style-type: none;
  }

    .header-feature li {
      margin-right: 4%;
      text-align: center;
      float: left;
      height: 265px;
      width: 204px;
    }

      .header-feature ul li:first-child p span {
        display: block;
      }

      .header-feature li i {
        color: white;
        font-size: 4em;
      }

    .header-feature li .clickable .select-area {
      position: absolute;
      width: 18%;
      height: 37%;
      top: 0;
      left: 24%;
      text-decoration: none;
      z-index: 10;
      background-color: white;
      opacity: 0;
    }

    .header-feature li:first-child .clickable .select-area {
      left: 24%;
    }

    .header-feature li:nth-child(2) .clickable .select-area {
      left: 41%;
    }

    .header-feature li:nth-child(3) .clickable .select-area {
      left: 59%;
    }

    .header-feature .header-btn {
        margin-top: 25px;
    }

    .header-feature .header-btn a:hover {
      background: #fff;
      color: #548;
      text-decoration: none;
    }

    .header-feature .text-area p:first-child {
      padding: 14px 14px 0 14px;
      font-size: 29px !important;
      margin: 0;
    }

    .header-feature .text-area p:nth-child(2) {
      margin: 0;
      font-size: 19px !important;
      padding-bottom: 10px;
      color: #FFB440 !important;
    }

.content {
  background-color: white;
  margin: 0;
  padding: 50px 0px 80px 0;
}

.what-is {
  width: 100%;
  background-color: #f5f5f5;
  border-top: 1px solid rgba(0,0,0,0.075);;
  border-bottom: 1px solid rgba(0,0,0,0.075);
}

  .what-is .row {
    padding-top: 50px;
  }

.what-container {
  margin-left: 3%;
  margin-top: 10px;
}

.what-column {
  font-family: "Korolev-Medium", sans-serif;
  float: left;
  margin-right: 3%;
  width: 30%;
}

.what-item {
  margin-left: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  margin-right: 0 !important;
  overflow: hidden;
  margin-bottom: 1.313em;
}

.what-image {
  position: relative;
  overflow: hidden;
  background-size: cover;
}

  .what-image i {
    font-size: 6em;
    color: #548;
    margin-top: 17px;
  }

  .what-image h3 {
    font-family: "Korolev-Medium", sans-serif;
    color: #548;
    font-size: 28px;
  }

.what-content {
  padding: 1.5em;
  box-shadow: none;
}

.what-content p {
  font-family: "Korolev-Medium", sans-serif;
  font-size: 18px;
  text-align: left;
}

  .what-container div:nth-child(2) .what-content {
    padding-bottom: 62px;
  }

  .what-container div:nth-child(3) .what-content {
    padding-bottom: 76px;
  }

.what-is div:nth-child(2) {
  text-align: center;
  margin-bottom: 2%;
}

.landing-page-download {
  margin: 0;
  padding-bottom: 5%;
}

  .landing-page-download h1 {
    font-family: "Korolev-Light", sans-serif;
  }

.see-further {
  display: block;
  text-align: center;
  margin-top: 50px;

}

  .see-further i {
    color: white;
    font-size: 33px;
  }

.gitlab-comparison {
  margin-top: 108px;
  border: none !important;
}

a.comparison.gh {
  border: none;
  border-bottom: 2px solid;
  border-radius: 0;
  padding: 4px 0;
}
a.comparison.gh:hover {
  background: 0;
  color: #FFB440;
  border-color: #FFB440;
}
  .comparison {
    background: #548;
    color: white;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 3px;
    text-decoration: none;
    transition: all 0.2s
  }

  .comparison:hover {
    background-color: #fff;
    color: #548;
    text-decoration: none;
  }

#download-landing {
  font-family: "Korolev-Medium", sans-serif;
  background: #5D4D93;
  color: white;
  border: 1px solid white;
  transition: all 0.2s;
  padding: 10px;
  font-size: 21px;
  border-radius: 4px;
  text-decoration: none;
}

  #download-landing:hover {
    background: #fff;
    color: #548;
    border-color: #548;
  }

@media (max-width: 780px) {
  .what-column {
    width: 100%;
  }

  .what-container .what-column:nth-child(3) {
    width: 100%;
  }
}

.logos {
  margin-left: 0;
  margin-right: 0;
  margin-top: 18px;
}

  .logos > div {
    height: 203px;
  }

  .logos img {
    max-width: none;
  }

  .logos h2 {
    font-size: 36px;
    color: #18191a;
    font-family: 'Korolev-Light', sans-serif;
  }

  .logos span {
    font-family: 'Korolev-Medium', sans-serif;
    color: #a0c720;
  }

.logo_1a img { margin-top: 14px; opacity: 0.5; width: 171px; margin-left: -12px; }
.logo_2a img { width: 118px; opacity: 0.5; margin-left: 10px; }
.logo_3a img { width: 206px; margin-top: -24px; opacity: 0.5; margin-left: -21px }
.logo_4a img { width: 115px; margin-top: 12px; margin-left: 37px; opacity: 0.5; }
.logo_5a img { width: 100px; margin-top: 25px; opacity: 0.5; }
.logo_6a img { margin-top: 23px; opacity: 0.5; }
.logo_1b img { margin-top: 4px; width: 145px; opacity: 0.5; }
.logo_2b img { width: 170px; margin-top: 45px; opacity: 0.5; }
.logo_3b img { width: 139px; margin-top: 37px; opacity: 0.5; }
.logo_4b img { margin-top: 44px; opacity: 0.5; }
.logo_5b img { margin-top: 45px; width: 146px; opacity: 0.5; }
.logo_7b img { margin-top: 47px; width: 166px; opacity: 0.5; }
.logo_1c img { width: 89px; opacity: 0.5; }
.logo_2c img {opacity: 0.5;}
.logo_3c img { width: 138px; margin-top: 38px; opacity: 0.5; }
.logo_4c img { width: 185px; margin-left: -26px; opacity: 0.5; }
.logo_5c img { margin-top: 35px; opacity: 0.5; }
.logo_7c img { margin-top: 42px; opacity: 0.5; }

  .logo-disclaimer {
    font-family: 'Korolev-Light', sans-serif;
    margin-top: 40px;
    text-align: center;
  }

.twitter-head {
  margin-left: 0;
  margin-right: 0;
}

  .twitter-head h2 {
    font-family: 'Korolev-Light', sans-serif;
    font-size: 36px;
  }

  .twitter-head i {
    color: #55ACEE;
    font-size: 36px;
  }

.read-more-tweets {
  text-align: center;
}

.read-more-tweets a {
  background: #548;
  color: white;
  padding: 13px;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.4s ease;
  font-size: 18px;
}

  .read-more-tweets a:hover {
    background: #547;
  }

.videos h1 {
  font-family: 'Korolev-Light', sans-serif;
  font-size: 36px;
}

/* TESTIMONIALS SECTION */

.testimonial-container {
  background: white;
  padding: 58px 0;
  border-top: 1px solid rgba(0,0,0,0.075);
  border-bottom: 1px solid rgba(0,0,0,0.075);
}

  .testimonial-container .text-center {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
  }

    .testimonial-container .text-center h2 {
      font-family: "Korolev-Light", sans-serif;
      font-size: 36px;
      margin-bottom: 60px;
    }

    .testimonial-container .columns:after {
      display: block;
      height: 0px;
      width: 100%;
      clear: both;
      content: " ";
    }

  .testimonial-container .row {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

      .testimonial-container .row .column .message-container {
        margin-bottom: 60px;
      }

        .testimonial-container .row .column .message-container .message {
          background-color: #548;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          border-radius: 32px;
          position: relative;
          padding: 18px 27px 16px;
          color: white;
          font-size: 17px;
          margin-bottom: 20px;
          font-family: "Korolev-Light", sans-serif;
          font-weight: 100;
          line-height: 30px;
          border: 1px solid black;
          text-align: left;
        }

          .testimonial-container .column .message-container .message:after {
            width: 0;
            height: 0;
            border-top: 20px solid transparent;
            border-bottom: 22px solid transparent;
            border-left: 26px solid #548;
            content: " ";
            position: absolute;
            left: 47px;
            bottom: -23px;
          }

        .testimonial-container .column .message-container .author {
          min-height: 50px;
          position: relative;
          padding-left: 70px;
          text-align: left;
        }

          .testimonial-container .column .message-container .author img {
            width: 62px;
            height: 62px;
            position: absolute;
            top: 0;
            left: 0;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            -ms-border-radius: 25px;
            -o-border-radius: 25px;
            border-radius: 25px;
          }

          .testimonial-container .column .message-container .author .name {
            font-size: 21px;
            font-weight: 400;
            color: #FFB440;
            display: block;
          }

          .testimonial-container .column .message-container .author .info {
            font-size: 17px;
            font-weight: 400;
            color: black;
            margin-bottom: 7px;
            display: block;
          }

            .testimonial-container .column .message-container .author .info a {
              text-decoration: none;
              color: #548;
              font-weight: 600;
              font-family: "Korolev-Light", sans-serif;
            }

.testimonial-container hr {
    margin: 0em auto;
    border: solid;
    border-width: 1px 0 0 0;
    color: rgba(0,0,0,0.095);
    width: 77%;
}

.testimonial-news-container {
  background: #f5f5f5;
  padding: 40px;
}

  .testimonial-news {
    width: 85.66%;
    margin-left: 5.66%;
    text-align: center;
  }

    .testimonial-news h2 {
      font-size: 28px;
      line-height: 1.4;
      margin-bottom: 0.8em;
      font-family: "Korolev-Light", sans-serif;
    }

    .testimonial-news img {
      -webkit-filter: grayscale(85%);
      -moz-filter: grayscale(85%);
      -ms-filter: grayscale(85%);
      -o-filter: grayscale(85%);
      filter: grayscale(85%);
      filter: filter: grayscale(85%); /* Firefox 4+ */
      filter: gray; /* IE 6-9 */;
      transition: 0.2s ease;
    }

    .testimonial-news img:hover {
      -webkit-filter: none;
      -moz-filter: none;
      -ms-filter: none;
      -o-filter: none;
      filter: none;
      filter: none; /* Firefox 4+ */
      filter: none; /* IE 6-9 */;
    }

.twitter-container {
  background: whitesmoke;
  margin: 0;
  padding: 50px 0px 80px 0;
}

.see-more-tuts {
  font-size: 30px;
  margin-top: 16px;
  font-family: "Korolev-Light", sans-serif;
}

  .see-more-tuts a {
    color: whitesmoke;
    text-decoration: underline;
  }

a.col-link:hover {
  text-decoration: none;
}

/* animations! */
.come-in {
  -webkit-transform: translateY(150px);
  -webkit-animation: come-in 0.8s ease forwards;
  -moz-transform: translateY(150px);
  -moz-animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  -webkit-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
}
.already-visible {
  -webkit-transform: translateY(0);
  -webkit-animation: none;
  -moz-transform: translateY(0);
  -moz-animation: none;
}

@-webkit-keyframes come-in {
  to {  -webkit-transform: translateY(0);
  }
}
@-moz-keyframes come-in {
  to {  -moz-transform: translateY(0);
  }
}

a.underlined {
  text-decoration: underline !important;
  transition: all 0.2s;
}

a.underlined:hover {
  color: rgb(255, 201, 30) !important;
}
