---
layout: default
title: Team
suppress_header: true
extra_css:
  - team.css
---

<div class="wrapper">
  <div class="container">
    <div class="team-head">
      <h1>MEET OUR <b>TEAM</b></h1>
      <p>
        To offer the best possible services our team has a deep expertise in GitLab in all of its aspects.
        The GitLab B.V. team consists of the following individuals.
      </p>
    </div>

    <div class="row">
      <div class="col-md-4 member">
        <img src="../images/team/picture_dmitriy.png" alt="gitlab.com">
        <h3>Dmitriy Zaporozhets</h3>
        <h4>co-founder, CTO</h4>
        <div class="social">
          <a href="https://twitter.com/dzaporozhets">Twitter</a>
          <a href="https://gitlab.com/u/dzaporozhets">GitLab</a>
        </div>
        <p>
          Dmitriy started GitLab in september 2011 and has released it every month on the 22nd since then.
          He wanted to make a great and free project management system that he could use every day.
          He loved to work on GitLab so much that in January of 2013 he began to work on GitLab fulltime.
          When he has time he loves to code a major new GitLab feature in two days.
          He loves a good Martini and a merge request that can be accepted without comments.
          He is the lead author of GitLab CE and CI.
        </p>
      </div>

      <div class="col-md-4 member">
        <img src="../images/team/picture_sytse.png" alt="gitlab.com">
        <h3>Sytse 'Sid' Sijbrandij</h3><h4>co-founder, CEO</h4>
        <div class="social">
          <a href="https://twitter.com/sytses">Twitter</a>
          <a href="https://gitlab.com/u/sytses">GitLab</a>
        </div>
        <p>
          Sytse saw the first ruby code in 2007 and loved it so much he dove head first into programming.
          Before that he was engaged in business administration roles and combining that with software development is his passion.
          He is always looking to make a template out of something or to automate a process.
          His team members suspect he has todo list and reminders for everything, including breakfast and getting his hair cut.
          He loves a good beer and organizing a trip to a conference.
          He is part of the GitLab core-team.
        </p>
      </div>

      <div class="col-md-4 member">
        <img src="../images/team/picture_marin.png" alt="gitlab.com">
        <h3>Marin Jankovski</h3><h4>developer</h4>
        <div class="social">
          <a href="https://twitter.com/maxlazio">Twitter</a>
          <a href="https://gitlab.com/u/marin">GitLab</a>
        </div>
        <p>
          Marin loves to develop in Rails but has also grown an interest in operations, specifically Amazon Web Services and Opscode Chef.
          He is part of the GitLab core-team.
          When video conferencing with him you get a cat running accross the room as a bonus.
          He is notorious for starting early in the morning just after breakfast and not having lunch until his workday is over.
          You would expect him to be hungry and grumpy the last few hours but as long as his internet connection is up he is always friendly and upbeat.
          He loves travelling and talking about politics.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 member">
        <img src="../images/team/picture_jacob.png" alt="gitlab.com">
        <h3>Jacob Vosmaer</h3><h4>senior service engineer</h4>
        <div class="social">
          <a href="https://twitter.com/jacobvosmaer">Twitter</a>
          <a href="https://gitlab.com/u/jacobvosmaer">GitLab</a>
        </div>
        <p>
          Jacob became a professional software developer in 2012 after a brief academic career which included obtaining a PhD in mathematics.
          Motivated by his own experiences switching careers he has been helping others do the same, for instance by coaching at RailsGirls events.
          Today he is excited to be working on open source software and helping organisations around the world collaborate better using Git and GitLab.
          He is part of the GitLab core-team.
        </p>
        <p>
          <a href="../downloads/182BAD96.asc">Jacob's PGP public key</a>
        </p>
      </div>

      <div class="col-md-4 member">
        <img src="../images/team/picture_marc.png" alt="gitlab.com">
        <h3>Marc Radulescu</h3><h4>account manager</h4>
        <div class="social">
          <a href="https://twitter.com/MarcRadulescu/">Twitter</a>
          <a href="https://gitlab.com/u/MarcRadulescu/">GitLab</a>
        </div>
        <p>
          Marc worked as pricing specialist for HP in Bucharest before moving to the Netherlands for a Masters' course in Business Information Management.
          He is now happy to put his business training to good use in a developers' environment.
          When not helping out our customers, Marc is busy cooking, trying out cocktail recipes and watching Starcraft 2 streams.
        </p>
      </div>

      <div class="col-md-4 member">
        <img src="../images/team/picture_job.png" alt="gitlab.com">
        <h3>Job van der Voort</h3><h4>service engineer</h4>
        <div class="social">
          <a href="https://twitter.com/Jobvo/">Twitter</a>
          <a href="https://gitlab.com/u/JobV/">GitLab</a>
        </div>
        <p>
          Job became deeply passionate for software engineering while working in neuroscience and becoming increasingly frustrated with the lack of version control in science.
          At the end of 2012 he decided to make the jump and start to work as a software developer fulltime.
          He's very excited to be back in a lab that is all about version control and beautiful code.
          Besides code, Job has an obsession for design and entrepreneurship and loves to play videogames of any kind.
        </p>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4 member">
        <img src="../images/team/picture_haydn.png" alt="gitlab.com">
        <h3>Haydn Mackay</h3><h4>major accounts manager</h4>
        <div class="social">
          <a href="https://twitter.com/haydnmackay">Twitter</a>
          <a href="https://gitlab.com/u/Haydn/">GitLab</a>
        </div>
        <p>
          Over the past 10 years, Haydn worked for a California based ISV assisting large, distributed development teams to select and get the most out of a series of collaboration tools.
          During his second year, the company sent him back to his homeland of Australia to open a Sydney office where he developed a keen interest in team workflows and later returned to California to work exclusively with global accounts transitioning to Agile.
          When not working or taking care of his two young kids, Haydn enjoys cycling (of any kind), snow sports and the many tasty microbrews from the area.
        </p>
      </div>

      <div class="col-md-4 member">
        <img src="../images/team/picture_vsizov.png" alt="gitlab.com">
        <h3>Valery Sizov</h3><h4>developer</h4>
      <div class="social">
          <a href="https://twitter.com/Sizov_Valeriy">Twitter</a>
          <a href="https://gitlab.com/u/vsizov">GitLab</a>
        </div>        
        <p>
          I started the GitLab project together with Dmitriy 3 years ago. Today, we are together again :) I like Ruby, UNIX, git and other cool technologies.
          I have a very strong desire to improve the world by making all things easier.
        </p>
      </div>

      <div class="col-md-4 member">
        <img src="../images/team/picture_patricio.png" alt="gitlab.com">
        <h3>Patricio Cano</h3><h4>junior service engineer</h4>
        <div class="social">
          <a href="https://twitter.com/suprnova32">Twitter</a>
          <a href="https://gitlab.com/u/patricio">GitLab</a>
        </div>
        <p>
          Patricio is from Quito, Ecuador and he studied Computer Science in Stuttgart, Germany, where he lived for 7 years.
          He is very passionate about open source software and has been working with Ruby on Rails for the past 3 years. He also likes
          to swim, play video games and spend time with his family and friends.
        </p>
      </div>

    </div>

    <div class="row">

      <div class="col-md-4 member">
      </div>

      <div class="col-md-4 member">
        <img src="../images/team/picture_douwe.png" alt="Douwe Maan" width="200" height="200" />
        <h3>Douwe Maan</h3><h4>developer</h4>
        <div class="social">
          <a href="https://twitter.com/DouweM">Twitter</a>
          <a href="https://gitlab.com/u/DouweM">GitLab</a>
        </div>
        <p>
          Douwe caught the programming virus at the age of 9, got his first freelance job 2 years later, and has spent the years that followed gaining experience with a wide range of technologies&mdash;both by himself and as lead developer at two startups.

          Some 3 years ago, he found Ruby and fell in love with the language and the open-source community surrounding it, making him a perfect fit for GitLab.

          Always looking for a challenge, he combines shaping the future of version control with completing his Computer Science studies at Utrecht University in the Netherlands.
        </p>
      </div>

      <div class="col-md-4 member">
      </div>

    </div>
  </div>
</div>
